<h1 ng-bind="title"></h1>

<form ng-submit="addPost()">
    <label for="post-title">Post title:</label><br />
    <input type="text" 
           id="post-title" 
           ng-model="newPost.title" 
           placeholder="Title..." /><br />

    <label for="post-body">Post body:</label><br />
    <textarea id="post-body" 
              ng-model="newPost.body" 
              style="width: 400px;height:200px;"
              placeholder="Body..."></textarea><br />

    <button type="submit">Add post</button>
</form>

<div ng-repeat="post in posts track by $index">
    <h2 ng-bind="post.title" ng-click="go('/Post/' + post.id)"></h2>
    <p ng-bind="post.body"></p>
    <button type="button" ng-click="removePost($index)">Remove</button>
</div>